* {
   box-sizing: border-box; 
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #f37f7f;
    border: none;
    box-shadow: 0px 2px 3px 5px rgba(68, 67, 67, 0.2);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 200px;
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.form {
    display: flex;
    margin: 30px;
    width: 100%;
    justify-content: center;
}

.select {
    width: 60%;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.option {
    width: 60%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    width: 200px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    background-color: #f37f7f;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.button:hover {
    background-color: #f59c9c;
}

.button:active {
    background-color: #f86969;
}

.pics {
    width: 100%;
    display: flex;
    justify-content: center;
}

.doggo-image {
    max-width: 100%;
}

.footer {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding-left: 20px;
    background-color: #f37f7f;
    box-shadow: 0px 2px 3px 5px rgba(68, 67, 67, 0.2);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: white;

}

a:hover{
    text-decoration: underline;
}

@media (max-width: 600px) {
    .header {
        font-size: 40px;
        height: 70px;
    }

    .logo {
        width: 70px;
        height: 70px;
        margin-right: 10px;
    }

    .select {
        font-size: 15px;
    }

    .option {
        font-size: 15px;
    }
    
    .button {
        font-size: 15px;
    }

    .footer {
        margin-top: 40px;
        font-size: 12px;
        height: 70px;
    }
}